# Ignore Python bytecode files
__pycache__

# Ignore virtual environment directory
.venv/

# Ignore any compiled Python files
*.pyc

.idea
# Ignore any other files you don't want to include in the repository
# For example, temporary files, logs, etc.

utils/config.ini
